syntax: glob
*.html
*.swp
*.gif
*.jpg
*.pem
*.pyc
*.pdf
*.ps
*.sgml
*.so
*.tap
*.xml
*.egg-info
*.egg
*.orig
*.pprj
build
bump_version.sh
.glimpse*
ipython.*
key.priv
key.pub
node.pid
.pytest_cache
.pythonscope*
pangalaxian/*
pangalactic/test/pangalaxian_test
*.pickle
sedscr
server_key.pem
server_cert.pem
_trial_temp
