syntax: glob
*.html
*.swp
*.gif
*.jpg
*.pem
*.pyc
*.pdf
*.ps
*.sgml
*.so
*.tap
*.xml
*.egg-info
*.egg
*.orig
*.pprj
.crossbar
build
build.sh
bump_version.sh
config
Dockerfile
extra_data
run_vger.sh
key.priv
key.pub
Miniconda3-latest-Linux-x86_64.sh
node.pid
public.key
private.key
sedscr
server_key.pem
server_cert.pem
_trial_temp
